<div class="user-account">
  <div class="user-account--details">
    <div class="user-account--details-container">

      <div class="user-account--title">
        <h2>{{ 'customer.account.details' | t }}</h2>
        <p class="btn btn-dark">{{ 'Log out' | customer_logout_link }}</p>
      </div>

      <div class="user-account--name">
        <h2>{{ customer.name  }}</h2>
        <span><p class="btn btn-dark btn-small address-new-toggle">{{ 'Add Address' | 'customer.addresses.add_new' }}</p></span>
        <br />
        <div id="AddressNewForm" class=" hide form-container">
          {% form 'customer_address', customer.new_address %}

          <div class="form-box">
            <input type="text"
                   placeholder="First Name"
                   name="address[first_name]"
                   id="AddressFirstNameNew"
                   class="form-box__input-group"
                   value="{{ form.first_name }}"
                   autocapitalize="words">
          </div>

          <div class="form-box">
            <input type="text"
                   placeholder="Last Name"
                   name="address[last_name]"
                   id="AddressLastNameNew"
                   class="form-box__input-group"
                   value="{{ form.last_name }}"
                   autocapitalize="words">
          </div>

          <div class="form-box">
            <input type="text"
                   placeholder="Company"
                   name="address[company]"
                   id="AddressCompanyNew"
                   class="form-box__input-group"
                   value="{{ form.company }}"
                   autocapitalize="words">
          </div>

          <div class="form-box">
            <input type="text"
                   placeholder="Address 1"
                   name="address[address1]"
                   id="AddressAddress1New"
                   class="form-box__input-group"
                   value="{{ form.address1 }}"
                   autocapitalize="words">
          </div>

          <div class="form-box">
            <input type="text"
                   placeholder="Address 2"
                   name="address[address2]"
                   id="AddressAddress2New"
                   class="form-box__input-group"
                   value="{{ form.address2 }}"
                   autocapitalize="words">
          </div>

          <div class="form-box">
            <input type="text"
                   placeholder="City"
                   name="address[city]"
                   id="AddressCityNew"
                   class="form-box__input-group"
                   value="{{ form.city }}"
                   autocapitalize="words">
          </div>

          <div class="form-box">
            <select
              name="address[country]"
              id="AddressCountryNew"
              class="form-box__input-group"
              selected="United States"
              data-default="{{ form.country }}">
              {{ country_option_tags }}
            </select>
          </div>

          <div class="form-box">
            <div id="AddressProvinceContainerNew" style="display: none">
              <select
                name="address[province]"
                placeholder="Providence"
                id="AddressProvinceNew"
                class="form-box__input-group"
                data-default="{{ form.province }}">
              </select>
            </div>
          </div>

          <div class="form-box">
            <input type="text"
                   placeholder="Zip"
                   name="address[zip]"
                   id="AddressZipNew"
                   class="form-box__input-group"
                   value="{{ form.zip }}"
                   autocapitalize="characters">
          </div>

          <div class="form-box">
            <input type="tel"
                   placeholder="Phone Number"
                   name="address[phone]"
                   id="AddressPhoneNew"
                   class="form-box__input-group"
                   value="{{ form.phone }}"
                   pattern="[0-9\-]*">
          </div>

          <div class="form-box">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">
              {{ 'customer.addresses.set_default' | t }}
            </label>
          </div>

          <input type="submit" class="btn btn-dark" value="{{ 'customer.addresses.add' | t }}">
          <button type="button" class="address-new-toggle btn btn-dark">
            {{ 'customer.addresses.cancel' | t }}
          </button>

          {% endform %}

        </div>
      </div>

      <div class="user-account--addresses">
        {% assign count = 1 %}
        {% for address in customer.addresses %}
          {% if address == customer.default_address %}
          <div class="address-container">
            <div class="address-template">
              <div class="address-template--title">
                <h3>Default Address</h3>
                <button type="button" class="address-edit-toggle btn btn-dark btn-small" data-form-id="{{ address.id }}">
                  {{ 'customer.addresses.edit' | t }}
                </button>
                <button type="button" class="address-delete btn btn-dark btn-small" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                  {{ 'customer.addresses.delete' | t }}
                </button>
              </div>
              <p>{{ address.name }}</p>
              <div class="address-template--group">
                <p>{{ address.address1 }}</p>
                <p>{{ address.address2 }}</p>
                <p>{{ address.city }}, {{ address.province }}</p>
                <p>{{ address.zip }}</p>
              </div>
              <p>{{ address.phone }}</p>
            </div>
            <div id="EditAddress_{{ address.id }}" class="hide form-container">
              {% form 'customer_address', address %}

              <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

              <div class="form-box">
                <input type="text"
                       name="address[first_name]"
                       placeholder="First Name"
                       class="form-box__input-group"
                       id="AddressFirstName_{{ form.id }}"
                       value="{{ form.first_name }}"
                       autocapitalize="words">
              </div>

              <div class="form-box">
                <input type="text"
                       name="address[last_name]"
                       placeholder="Last Name"
                       class="form-box__input-group"
                       id="AddressLastName_{{ form.id }}"
                       value="{{ form.last_name }}"
                       autocapitalize="words">
              </div>

              <div class="form-box">
                <input type="text"
                       name="address[company]"
                       placeholder="Company"
                       class="form-box__input-group"
                       id="AddressCompany_{{ form.id }}"
                       value="{{ form.company }}"
                       autocapitalize="words">
              </div>

              <div class="form-box">
                <input type="text"
                       name="address[address1]"
                       placeholder="Address 1"
                       class="form-box__input-group"
                       id="AddressAddress1_{{ form.id }}"
                       value="{{ form.address1 }}"
                       autocapitalize="words">
              </div>

              <div class="form-box">
                <input type="text"
                       name="address[address2]"
                       placeholder="Address 2"
                       class="form-box__input-group"
                       id="AddressAddress2_{{ form.id }}"
                       value="{{ form.address2 }}"
                       autocapitalize="words">
              </div>

              <div class="form-box">
                <input type="text"
                       name="address[city]"
                       placeholder="City"
                       class="form-box__input-group"
                       id="AddressCity_{{ form.id }}"
                       value="{{ form.city }}"
                       autocapitalize="words">
              </div>

              <div class="form-box">
                <select
                  name="address[country]"
                  id="AddressCountry_{{ form.id }}"
                  class="address-country-option form-box__input-group"
                  data-form-id="{{ form.id }}"
                  data-default="{{ form.country }}">
                  {{ country_option_tags }}
                </select>
              </div>

              <div class="form-box">
                <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
                  <select
                    name="address[province]"
                    class="form-box__input-group"
                    id="AddressProvince_{{ form.id }}"
                    data-default="{{ form.province }}">
                  </select>
                </div>
              </div>

              <div class="form-box">
                <input type="text"
                       name="address[zip]"
                       class="form-box__input-group"
                       placeholder="Zip"
                       id="AddressZip_{{ form.id }}"
                       value="{{ form.zip }}"
                       autocapitalize="characters">
              </div>

              <div class="form-box">
                <input type="tel"
                       name="address[phone]"
                       placeholder=""
                       class="form-box__input-group"
                       id="AddressPhone_{{ form.id }}"
                       value="{{ form.phone }}"
                       pattern="[0-9\-]*">
              </div>

              <div class="form-box">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}">
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </div>

              <input type="submit" class="btn btn-dark" value="{{ 'customer.addresses.update' | t }}">
              <button type="button" class="address-edit-toggle btn btn-dark" data-form-id="{{ form.id }}">
                {{ 'customer.addresses.cancel' | t }}
              </button>

              {% endform %}

            </div>
          </div>
          {% else %}
            <div class="address-container">
              <div class="address-template">
                <div class="address-template--title">
                  <h3>Address {{count}}</h3>
                  <button type="button" class="address-edit-toggle btn btn-dark btn-small" data-form-id="{{ address.id }}">
                    {{ 'customer.addresses.edit' | t }}
                  </button>
                  <button type="button" class="address-delete btn btn-dark btn-small" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                    {{ 'customer.addresses.delete' | t }}
                  </button>
                </div>
                <p>{{ address.name }}</p>
                <div class="address-template--group">
                  <p>{{ address.address1 }}</p>
                  <p>{{ address.address2 }}</p>
                  <p>{{ address.city }}, {{ address.province }}</p>
                  <p>{{ address.zip }}</p>
                </div>
                <p>{{ address.phone }}</p>
              </div>
              <div id="EditAddress_{{ address.id }}" class="hide form-container">
                {% form 'customer_address', address %}

                <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

                <div class="form-box">
                  <input type="text"
                         name="address[first_name]"
                         placeholder="First Name"
                         class="form-box__input-group"
                         id="AddressFirstName_{{ form.id }}"
                         value="{{ form.first_name }}"
                         autocapitalize="words">
                </div>

                <div class="form-box">
                  <input type="text"
                         name="address[last_name]"
                         placeholder="Last Name"
                         class="form-box__input-group"
                         id="AddressLastName_{{ form.id }}"
                         value="{{ form.last_name }}"
                         autocapitalize="words">
                </div>

                <div class="form-box">
                  <input type="text"
                         name="address[company]"
                         placeholder="Company"
                         class="form-box__input-group"
                         id="AddressCompany_{{ form.id }}"
                         value="{{ form.company }}"
                         autocapitalize="words">
                </div>

                <div class="form-box">
                  <input type="text"
                         name="address[address1]"
                         placeholder="Address 1"
                         class="form-box__input-group"
                         id="AddressAddress1_{{ form.id }}"
                         value="{{ form.address1 }}"
                         autocapitalize="words">
                </div>

                <div class="form-box">
                  <input type="text"
                         name="address[address2]"
                         placeholder="Address 2"
                         class="form-box__input-group"
                         id="AddressAddress2_{{ form.id }}"
                         value="{{ form.address2 }}"
                         autocapitalize="words">
                </div>

                <div class="form-box">
                  <input type="text"
                         name="address[city]"
                         placeholder="City"
                         class="form-box__input-group"
                         id="AddressCity_{{ form.id }}"
                         value="{{ form.city }}"
                         autocapitalize="words">
                </div>

                <div class="form-box">
                  <select
                    name="address[country]"
                    id="AddressCountry_{{ form.id }}"
                    class="address-country-option form-box__input-group"
                    data-form-id="{{ form.id }}"
                    data-default="{{ form.country }}">
                    {{ country_option_tags }}
                  </select>
                </div>

                <div class="form-box">
                  <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
                    <select
                      name="address[province]"
                      class="form-box__input-group"
                      id="AddressProvince_{{ form.id }}"
                      data-default="{{ form.province }}">
                    </select>
                  </div>
                </div>

                <div class="form-box">
                  <input type="text"
                         name="address[zip]"
                         class="form-box__input-group"
                         placeholder="Zip"
                         id="AddressZip_{{ form.id }}"
                         value="{{ form.zip }}"
                         autocapitalize="characters">
                </div>

                <div class="form-box">
                  <input type="tel"
                         name="address[phone]"
                         placeholder=""
                         class="form-box__input-group"
                         id="AddressPhone_{{ form.id }}"
                         value="{{ form.phone }}"
                         pattern="[0-9\-]*">
                </div>

                <div class="form-box">
                  {{ form.set_as_default_checkbox }}
                  <label for="address_default_address_{{ form.id }}">
                    {{ 'customer.addresses.set_default' | t }}
                  </label>
                </div>

                <input type="submit" class="btn btn-dark" value="{{ 'customer.addresses.update' | t }}">
                <button type="button" class="address-edit-toggle btn btn-dark" data-form-id="{{ form.id }}">
                  {{ 'customer.addresses.cancel' | t }}
                </button>

                {% endform %}

              </div>
            </div>
          {% endif %}
          {% assign count = count | plus: 1 %}
        {% endfor %}
      </div>

    </div>
  </div>

  <div class="user-account--orders">
    <h2>{{ 'customer.orders.title' | t }}</h2>

    {% paginate customer.orders by 20 %}
    {% if customer.orders.size != 0 %}
    <table class="responsive-table">
      <thead>
        <tr>
          <th>{{ 'customer.orders.order_number' | t }}</th>
          <th>{{ 'customer.orders.date' | t }}</th>
          <th>{{ 'customer.orders.payment_status' | t }}</th>
          <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th>{{ 'customer.orders.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr class="responsive-table-row">
          <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
          <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
          <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
          <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
          <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{{ 'customer.orders.none' | t }}</p>
    {% endif %}

    {% if paginate.pages > 1 %}
    {% include 'pagination' %}
    {% endif %}

    {% endpaginate %}
  </div>

</div>
